{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock head %}

{% block body %}

<h1>Star Wars universe planets</h1>

<button type="button" id="previous" class="btn btn-primary">Previous</button>
<button type="button" id="next" class="btn btn-primary">Next</button>
<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Diameter</th>
      <th>Climate</th>
      <th>Terrain</th>
      <th>Surface Water Percentage</th>
      <th>Population</th>
      <th>Residents</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="tbody">
<!--    <tr>-->
<!--      <th scope="row">1</th>-->
<!--      <td>Mark</td>-->
<!--      <td>Otto</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">2</th>-->
<!--      <td>Jacob</td>-->
<!--      <td>Thornton</td>-->
<!--    </tr>-->
  </tbody>
</table>




{% endblock body %}
